<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
</head>
<body>
	<div id="box" v-cloak="">
		<input type="text" v-model.number="no">
		<div>
			{{no1+10}}
			<input type="radio" name="a" value="男" v-model="no2">男
			<input type="radio" name="a" value="女" v-model="no2">女
			<div>
				{{no2}}
			</div>
			<input type="checkbox" value="苹果" v-model='no3'>苹果
			<input type="checkbox" value="香蕉" v-model='no3'>香蕉
			<div>
				{{no3}}
			</div>
			<select v-model="no4">
				<option value="0">百度</option>
				<option value="1">谷歌</option>
			</select>
			<div>
				{{no4}}
			</div>
		</div>
	</div>
	<script src="vue.js"></script>
	<script>
		new Vue({
			el:"#box",
			data:{
				no1:'',
				no2:'女',
				no3:['苹果'],
				no4:'1'
			}
		}) 
	</script>
</body>
</html>